extends ../layout

block content
  .page-header
    h3 Profile Information

  form.form-horizontal(action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email' disabled, value=user.emailId)
    .form-group
      label.col-sm-3.control-label(for='name') First name
      .col-sm-7
        input.form-control(type='text', name='firstname', id='firstname' disabled, value=user.firstName)
    .form-group
      label.col-sm-3.control-label(for='name') Last name
      .col-sm-7
        input.form-control(type='text', name='lastname', id='lastname' disabled, value=user.lastName)
