extends layout

block content
  h1 ADSK Bucharest site
  p.lead A prototype for Bucharest site.
  hr
  .row
    .col-sm-6
      h2 Welcome
      p Only the parking reservation is currently functional. It considers they are 5 parking spots available, they are occupied in the order of booking, and they are not nominal.
      p
        a.btn.btn-default(href='#', role='button') View details »